*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
}

.arriba {
    background: #8DD8D8;
    position: relative;
    display: flex;
    height: 8%;  
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
}

.minicuadra {
    width: 25%;
    height: 100%;
    background: #7ECECE;
    position: absolute;
    top: 0;
    left: 0;
}

.botones {
    display: flex;
    gap: 2%;
    z-index: 1;
    margin-left: 85%;
}

.boton-blanco {
    width: 8%;
    min-width: 70px;
    height: 33%;
    min-height: 20px;
    background-color: white;
}

.boton-naranja {
    width: 8%;
    min-width: 70px;
    height: 33%;
    min-height: 20px;
    background-color: #FF7F50;
}